<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="/static/css/basic.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/soldisplay.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/publish.css"/>
<script type="text/javascript" src="/static/js/basic.js"></script>
<script type="text/javascript" src="/static/js/GetMap.js"></script>
<script type="text/javascript" src="/static/js/ajaxmail.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/images.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=7zmiSHRUA61ha3tbu8ZRHGCH"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
<!--加载鼠标绘制工具-->
	<script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
</head>

{% block content %}
{% endblock %}
</html>